<p>This rule detects usage of Jalo classes. The Jalo layer is deprecated and should not be used.</p>
<h2>Noncompliant Code Example</h2>
<pre>
	MyItem myItem = new MyItem();
	MyItem myItem = modelService.getSource(myItemModel);
	MyItemModel myItemModel = modelService.get(myItem);
</pre>
<h2>Compliant Solution</h2>
<pre>
	MyItemModel myItem = modelService.create(MyItemModel.class);
	MyItemModel myItem = Mockito.mock(MyItemModel.class); // for Test-Code.
</pre>
