<p>This rule suggests implementing Populator instead of extending AbstractConverter when only the populate-method is
	overridden. The Populator can then be used in a (spring defined) AbstractPopulatingConverter</p>
<h2>Noncompliant Code Example</h2>
<pre>
	public class MyConverter extends AbstractConverter&lt;Foo, Bar> {
	    @Override
	    public void populate(Foo foo, Bar bar) {
	        // implementation
	    }
	}
</pre>
<h2>Compliant Solution</h2>
<p>If anything else is overridden, the use of AbstractConverter is justified.</p>
<pre>
	public class MyConverter extends AbstractConverter&lt;Foo, Bar> {
	    @Override
	    public void populate(Foo foo, Bar bar) {
	        // implementation
	    }

	    @Override
	    protected Foo createFromClass() {
	        return null;
	    }
	}
</pre>
