<p>This rule detects usage the saveAll method without parameters of hybris' ModelService. It's use is discouraged.</p>
<h2>Noncompliant Code Example</h2>
<pre>
	modelService.saveAll(); // NonCompliant
</pre>
<h2>Compliant Solution</h2>
<pre>
	modelService.save(item);
	modelService.saveAll(itemCollection);
	modelService.saveAll(item1, item2);
</pre>
