<p>This rule detects usage of the constructor of Hybris Model classes. It's usage can lead to unexpected behaviour in
	production code as well as Unit-Tests</p>
<h2>Noncompliant Code Example</h2>
<pre>
	MyItemModel myItem = new MyItemModel();
</pre>
<h2>Compliant Solution</h2>
<pre>
	MyItemModel myItem = modelService.create(MyItemModel.class);
	MyItemModel myItem = Mockito.mock(MyItemModel.class); // for Test-Code.
</pre>
