<p>This rule detects dlasses with JUnit test methods that don't have a Hybris-Test annotation.</p>
<h2>Noncompliant Code Example</h2>
<pre>
	public class TestWhereIForgotTheAnnotation {
		@Test
		public void testSomething() {
			// ...
		}
	}
</pre>
<h2>Compliant Solution</h2>
<pre>
	@UnitTest
	public class TestWithAnnotation {
		@Test
		public void testSomethingElse() {
			// ...
		}
	}
</pre>
